<app-common-layout></app-common-layout>
<div *ngIf="roleId==1 || roleId==2">
</div>
<div *ngIf="roleId==3">
  <app-editor-layout></app-editor-layout>
</div>
<div id="myContent">
  <div style="text-align:center; margin-top:120px;">
    <img src="assets/dailybytes-banner.png"
         alt="DailyBytes"
         style="width:60%; max-width:700px;" />
  </div>

  <div style="text-align:center;margin-top:40px;">
    <p>
      DailyBytes Media House - Your daily dose of information © 2026
    </p>
  </div>
</div>
